body{
    background-color: #1A1A1D;
   background-repeat: no-repeat;
    
}
.logo{
    border-radius: 40px;
    box-shadow: 0 0;
}
/*Top navigation bar*/
.topnav {
    margin-top: 30px;
    
    overflow: hidden;
  background-color:whitesmoke; 
    width: 990px;
    border-radius: 30px;
   
}
.topnav a {
    float: left;
    color: #6F2232;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}

.topnav a:hover {
    background-color: #C3073F;
    color: black;
    opacity: .8;
}

.topnav a.active {
    background-color:#950740 ;
    color: white;
}
.sign {
  float: right;
}

* {box-sizing: border-box;}
ul {
  background-color: #000000;
}
li a:hover {
  background-color: #0cf72a;
}
.word-container {
  width: 500px;
  height: 50px;
  margin: 80px auto auto;
}
.word-container h1 {
  margin: 0;
  text-align: center;
  color: #ab0a0a;
}
.register-container {
  width: 600px;
  margin: 20px auto auto;
 
  padding: 20px;
}
label {
  display: block;
}
.name::after {
  content: "";
  display: table;
  clear: both;
}
.name label:first-child {
	margin-right: 20px;
    
}
.name label {
	width: calc(100% / 2 - 10px);
	float: left;
}
input, [type="submit"] {
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
    border-radius: 20px;
}
[type="submit"] {
  border: 1px solid #000000;
  color: whitesmoke;
  background-color: #6F2232;
  margin: 0;
}
[type="submit"]:hover {
  background-color: #C3073F;
}